<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-material-design.min.css')}}" />
    <title>CSP650 - {% block title %} index {% endblock %} </title>
    {% endblock %}
    <style>
    body, html {
        height: 100%;
        }

    </style>
</head>
<body style="background-color: #212121" class="">
    {% block javscript %}
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap-material-design.min.js')}}"></script>
    {% endblock %}
        <nav class="navbar navbar-dark bg-dark">
                <img src="{{url_for('static',filename='images/logo.png')}}"  class="align-top" alt="" />
                <div class="my-2 my-lg-0">
                <a href="downloads" class="btn btn-raised btn-secondary" type="button">Downloads</a>
                <a href="#" class="btn btn-raised btn-primary" type="button">API</a>

                </div>
        </nav>
    <div style="margin-top: 10px;" class="container-fluid">{% block content %}{% endblock %}</div>
    <div id="footer">
       
    </div>

</body>
</html>